#viva-logo {
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
  width: 5%;
  height: 5%;
  padding-right: 50px;
}
.nav li {
  display: inline;
  border-style: dashed;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #dddddd;
  text-transform: uppercase;
}
.footer ul {
  padding-top:100px;
}
.footer li {
  display: inline;
  border-style: dashed;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #dddddd;
}
.footer img {
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
  width: 2%;
  height: 2%;
  padding-right: 5px;
}
h1 {
  font-family: tahoma, sans-serif;
  text-align: center;
  padding: 10px;
}
h2 {
  font-family: sans-serif;
  text-align: center;
}
h3 {
  font-family: sans-serif;
  text-align: center;
}
p {
  font-family: sans-serif;
}
/* unvisited link */
a:link {
  color: #8B4513;
}
/* mouse over link */
a:hover {
  color: #FF0000;
}
/* visited link */
a:visited {
  color: #8B4513;
}
/*
a[target="_blank"] {}
img {
  border-style: dashed;
  border-color: orange;
  border-width: 3px;
  width: 5%;
  height: 5%;
}
p {color: blue;}
.purple-text {color: #8A2BE2;}
body {
  background-color: #1E90FF;
}
.important {
  font-weight: bolder;
}
*/
