body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: #FAEBD7;
}
#viva-logo {
  border: 1px dashed blue;
  width: 8%;
  height: 8%;
}
.nav li {
  display: inline;
  border: 1px dashed green;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #dddddd;
  text-transform: uppercase;
}
.main-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px dashed red;
  justify-content: center;
  align-items: center;
}
.main-hero img {
  height: 50%;
  width: 50%;
}
.location {
  display: flex;
  flex-direction: row;
  border: 1px dashed red;
  justify-content: center;
  align-items: center;
}
.footer ul {
  padding-top:150px;
}
.footer li {
  display: inline;
  border: 1px dashed green;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #dddddd;
}
.footer img {
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
  width: 2%;
  height: 2%;
  padding-right: 5px;
}
.social-media {
  display: flex;
  flex-direction: row;
  border: 1px dashed red;
  justify-content: center;
  align-items: center;
}
.social-media a {
  margin-right: 2rem;
}
.fa-brands {
  color: red;
  font-size: 200%;
  border: 1px dashed green;
  padding-right: .5rem;
}
.flex-container {
  height: 22rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px dashed red;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  font-family: sans-serif;
}
/* unvisited link */
a:link {
  color: #8B4513;
}
/* mouse over link */
a:hover {
  color: #FF0000;
}
/* visited link */
a:visited {
  color: #8B4513;
}
aside {
  width: 10%;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  color: white;
  background-color: #E9967A;
}
.menu-listing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px dashed red;
  justify-content: center;
  align-items: center;
}
.menu-listing p {
  border: .5px dashed blueviolet;
  width: 30em;
}
h2:hover {
  color: brown;
  font-size: 2em;
}
.menu-listing h2 {
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}
.menu-listing h3:nth-child(1n) {
  background-color: lightcoral;
  color:white;
  padding-left: .25em;
  padding-right: .25em;
}
td {
  font-size: 2em;
  letter-spacing: .25em;
  padding-left: 10px;
}
td:nth-child(odd) {
  color: white;
  background-color: green;
}
td:nth-child(even) {
  color: white;
  background-color: red;
}
td:hover {
  background-color: gold;
}