body {
  font-family: "Poppins", Helvetica, sans-serif;
}
#viva-logo {
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
  width: 5%;
  height: 5%;
  padding-right: 50px;
}
.nav li {
  display: inline;
  border-style: dashed;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #dddddd;
  text-transform: uppercase;
}
.footer ul {
  padding-top:100px;
}
.footer li {
  display: inline;
  border-style: dashed;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #dddddd;
}
.footer img {
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
  width: 2%;
  height: 2%;
  padding-right: 5px;
}
.fa-brands {
  color: red;
  font-size: 200%;
  border: 1px dashed green;
  padding-right: .5rem;
}
.flex-container {
  height: 22rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px dashed red;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  font-family: sans-serif;
}
/* unvisited link */
a:link {
  color: #8B4513;
}
/* mouse over link */
a:hover {
  color: #FF0000;
}
/* visited link */
a:visited {
  color: #8B4513;
}
aside {
  width: 10%;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  background-color: #FAEBD7;
}
/*
a[target="_blank"] {}
img {
  border-style: dashed;
  border-color: orange;
  border-width: 3px;
  width: 5%;
  height: 5%;
}
p {color: blue;}
.purple-text {color: #8A2BE2;}
body {
  background-color: #1E90FF;
}
.important {
  font-weight: bolder;
}
*/
